{
  "baseTimeToRot" : 10800,
  "rottedItem" : "kyterranobsidibulb",

  "rotTimeDescriptions" : [
    [300, "^blue;About to turn into obsidian^reset;"],
    [1800, "^green;Starting to harden^reset;"],
    [3600, "^yellow;Will probably cool soon^reset;"],
    [10800, "^orange;Should stay hot for awhile^reset;"],
    [999999, "^red;Extremely well preserved^reset;"]
  ]
}
