{
    "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, 
          "Aegis", 
          "Ameth", 
          "Ant", 
          "Ar", 
          "Arc", 
          "Argen", 
          "Armor", 
          "Ash", 
          "Aur", 
          "Azure", 
          "Brav", 
          "Bron", 
          "Buzz", 
          "Catacl", 
          "Copper", 
          "Cres", 
          "Crim", 
          "Cyan", 
          "Dar", 
          "Devaz", 
          "Dez", 
          "Diam", 
          "Drak", 
          "Duz", 
          "Fier", 
          "Flam", 
          "Flow", 
          "Galvan", 
          "Glad", 
          "Glas", 
		  "Glen", 
          "Griy", 
          "Gwyn", 
          "Kni", 
          "Kr", 
          "Kyat", 
          "Kyt", 
          "Lun", 
          "Magn", 
          "Myrm", 
          "Myst", 
          "Myth", 
          "Myur", 
          "Noir", 
          "Obsid", 
          "Oran", 
          "Owl", 
          "Pter", 
          "Radian", 
          "Roniz", 
          "Rubic", 
          "Ruin",  
          "Saph", 
          "Sing", 
          "Sky", 
          "Soar",
          "Spir", 
          "Star", 
          "Sting", 
          "Strik", 
          "Sulf", 
          "Talon", 
          "Vali", 
          "Valo", 
          "Verdan", 
          "Volcan", 
          "Wind", 
          "Yel",  
          "Zol", 
          "Zun"


	  ],
	  
      [ { "mode" : "alts" }, "eleon", 
	  "a", "ul", "o", "ka", "ok", "ra", "na", "or", "ora", "ara", "ona", "aza", "oz", "ez", "zra", "zan", "zen", "zena", "zor", "zora", "zan", "gon", "arna", "anra", "anor", "ry", "ava", "idae", "lii"]
    ],
[
      { "mode" : "serie" },
      [ { "mode" : "alts" }, 
          "Aegis", 
          "Ameth", 
          "Ant", 
          "Ar", 
          "Arc", 
          "Argen", 
          "Armor", 
          "Ash", 
          "Aur", 
          "Azure", 
          "Brav", 
          "Bron", 
          "Buzz", 
          "Catacl", 
          "Copper", 
          "Cres", 
          "Crim", 
          "Cyan", 
          "Dar", 
          "Devaz", 
          "Dez", 
          "Diam", 
          "Drak", 
          "Duz", 
          "Fier", 
          "Flam", 
          "Flow", 
          "Galvan", 
          "Glad", 
          "Glas", 
		  "Glen", 
          "Griy", 
          "Gwyn", 
          "Kni", 
          "Kr", 
          "Kyat", 
          "Kyt", 
          "Lun", 
          "Magn", 
          "Myrm", 
          "Myst", 
          "Myth", 
          "Myur", 
          "Noir", 
          "Obsid", 
          "Oran", 
          "Owl", 
          "Pter", 
          "Radian", 
          "Roniz", 
          "Rubic", 
          "Ruin",  
          "Saph", 
          "Sing", 
          "Sky", 
          "Soar",
          "Spir", 
          "Star", 
          "Sting", 
          "Strik", 
          "Sulf", 
          "Talon", 
          "Vali", 
          "Valo", 
          "Verdan", 
          "Volcan", 
          "Wind", 
          "Yel",  
          "Zol", 
          "Zun"


	  ],
	  
      [ { "mode" : "alts" }, "eleon", 
	  "a", "ul", "o", "ka", "ok", "ra", "na", "or", "ora", "ara", "ona", "aza", "oz", "ez", "zra", "zan", "zen", "zena", "zor", "zora", "zan", "gon", "arna", "anra", "anor", "ry", "ava", "idae", "lii"]
    ],
//Argonian-style "translated" names
	[
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Moon ", "Regal ", "Desert ", "Solar ", "Thunder ", "Arcane ", "Wind ", "Mythic ", "Ruinous ", "Floral ", "Radiant ", "Cyan ", "Dawn ", "Dusk ", "Crimson ", "Azure ", "Verdant ", "Aurum ", "Argent ", "Rubicund ", "Diamant ", "Grey ", "Obsidian ", "Ashen ", "Bronze ", "Ant ", "Owl ", "Sulfur ", "Armored ", "Mist ", "Singing ", "Volcanic ", "Soaring ", "Glass ", "Sky ", "Leaping ", "Gleaming ", "Stalwart ", "Adamant ",  "Glaring ", "Dancing ",  "Astral ", "Brave ", "Aegis " ],
	  
      [ { "mode" : "alts" }, "Blade", "Edge", "Hammer", "Axe", "Arrow", "Halberd", "Cutter", "Drill", "Flame", "Flare", "Shield", "Talon", "Claw", "Storm", "Crescent", "Dagger", "Roc", "Dragon", "Wing", "Knight", "Mage", "Striker", "Stinger", "Spirit", "Myrmidon", "Dueler", "Heart", "Soul", "Wanderer", "Defender", "Seeker", "Pathfinder"  ]
    ],
//not as violent sounding
	[
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Desert ", "Thunder ", "Arcane ", "Wind ", "Floral ", "Radiant ", "Cyan ", "Dawn ", "Dusk ", "Crimson ", "Azure ", "Verdant ", "Aurum ", "Argent ", "Rubicund ", "Diamant ", "Grey ", "Obsidian ", "Ashen ", "Bronze ", "Ant ", "Owl ", "Armored ", "Mist ", "Singing ", "Volcanic ", "Soaring ", "Glass ", "Sky ", "Leaping ", "Gleaming ", "Stalwart ", "Adamant ", "Clumsy ", "Jubilant ", "Peaceful ", "Glaring ", "Sleeping ", "Dancing ", "Dream ", "Astral ", "Grateful ", "Brave ", "Aegis " ],
	  
      [ { "mode" : "alts" }, "Sun", "Moon", "Star", "Sky", "Tower", "Flower", "Light", "Shield", "Ant", "Roc", "Dragon", "Wing", "Knight", "Mage", "Spirit", "Myrmidon", "Dueler", "Heart", "Soul", "Wanderer", "Defender", "Seeker", "Pathfinder"  ]
    ]
  ]
}
